<h1>payment result</h1>
<div class="row">
  <div class="container">
    <div class="alert alert-success">
      <h2><i class="fa fa-check-circle"></i> pai1 successfully</h2>
    </div>
    <a href="<%= root_path %>">continue shipping</a>
  </div>
</div>
